/********** CHARTE GRAPHIQUE **************/
/******************************************/

@font-face {        
    font-family: "Chellyne";
    src: url("../fonts/Chellyne/Chellyne.ttf") format("truetype");
}

@font-face {        
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-Medium.ttf") format("truetype");
}

@font-face {        
    font-family: "Suavity";
    src: url("../fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {        
    font-family: "Jost";
    src: url("../fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
    }

@font-face {        
    font-family: "Fira";
    src: url("../fonts/FiraSans-Light.ttf") format("truetype");
         }

@font-face {        
    font-family: "Open";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
                    }

           

/******* COULEURS *********/ 
html{--noir:#000;
    --blanc:#fff;
    --rose:#FF42A8;
    --vert:#71FFB9;
    --jaune:#FCBE10;
    --beige:#d6983d;
    --orange: #ff6c03;
    --grey:rgb(55, 55, 55);
    --lightgrey:#ECECF0;
    --shadowgrey:#CAC9D1;

    --Montserrat: "Montserrat";
    --Cedarville: "Cedarville";
    --Fira: "Fira";
    --Jost: "jost";

}

/******** POLICES ********/

h1 {font-family: "Open";
    font-size: 2.5em;
    font-weight: 900;
    color:var(--noir);
    text-align: left;
    padding: 3em 0 0.5em 0;
}

h2 {
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: 600;
    color: var(--jaune);
    padding-bottom: 1em;
    text-decoration: underline dotted 5px var(--noir);
   
}    

h3 {
    font-family: var(--Montserrat);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5em;
 }
 
 h4{
    font-family:var(--Fira);
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

p {
    font-family: "Fira";
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

h4 p {
    padding-bottom: 0.5em;
}

li {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5em;
}
.col2 h3 {text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    color: var(--beige);
}
/*******************************************************/
/****************** CSS CONTENU ***********************/

body {
    box-sizing: border-box;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /*overflow-y: scroll;            probleme de superposition des box    */
} 

header {
    display: contents;
}
.headcolor {
    background-color: var(--jaune);
    height: 10em;
    width:100vw;
  
}
main {
    margin:1.5em;
             
}

.infos {
   /*display: flex;
   flex-direction: row;*/
    margin-left: 15%;
    padding-left: 1em;
    }

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em 1em 1em;
    width: 30%;
   }




.ed_img {
    /*display: block;*/
    width: 30%;
   
  }

#name {
    font-family: var(--Montserrat);
    font-size: 1.3em;
    font-weight: 600;
    color: var(--grey);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    }

.name p {
    font-size: 1.1em;
    font-family: var(--Montserrat);
    padding-bottom:0.3em}

.job {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60vw;*/
   }

blockquote { 
    font-family: "Suavity";
    font-size: 1.5em;
    font-style: italic;
    color: var(--rose);
    text-align: left;
    display: inline;
}

 


 
.introduction {
    text-align: left;
    display: flex;
    width: 100%;
    
  
}

.edito {
   margin: 0 0 0 15%;
    width: 25%;
    
}

#presentation {
    font-family: var(--Jost);
    font-weight: 600;
    color: #FCBE10;
    margin: 1em;
    font-size: 1em;
}



#contact {
        background-color: var(--rose);
        border-radius: 10px;
        color: var(--blanc);
        font-family: var(--Montserrat);
        font-size: 0.9;
        padding: 1em 0.5em;
        width: 160px;
        text-align: center;
    }

    #contact:hover {
        background-color: var(--vert);
    }

nav {
    
 justify-content: left;
 margin-right: 15%;
 align-items: center;
}

nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--lightgrey);
    padding: 0.5em 2em 0.5em 2em;
    width: 100%;
    border-radius: 10px;
   
    
    }

nav li {
    font-size: 1.1em;
    font-family: var(--Montserrat);
    font-weight:600;
    text-transform: uppercase;
    color: var(--grey);
    padding: 0.5em 1em 0.5em 1em;
}
nav li:hover {
    text-decoration: underline;
    color: var(--beige);
}

.cv_contenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   /*position: absolute;
   top: 15%;
   left:0;
   right:0;
   bottom: 6%;
   overflow-y: auto;*/
   
}

.col {
    padding: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .skills1 {
      font-family: var(--Fira  );
  }

/*.col2 {
    padding: 1em 1em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

   
    .experiences {
        background-color: var(--lightgrey);
        padding: 1em;
        border-radius: 1em;
        margin-bottom: 1em;
        color: var(--grey);
        box-shadow:5px 5px 5px var(--shadowgrey);
    }
    
    .experiences h3 {
        background-color: var(--jaune);
    }

    .company {
        display: flex;
        flex-direction: row;
       
 }

 .company p {
    font-family: var(--Fira);
    font-weight: 500;
    font-size: 0.9em;
    
}

.company__name {
    font-size: 1em;
    font-weight: 600;
}

.period {
      padding-left: 0.5em;
    }
      

   .company__last_p {
        padding-bottom: 1.3em;
        
    }
    
    .diplom {
        background-color: var(--lightgrey);
        padding: 1em;
        border-radius: 1em;
        color: var(--grey);
        box-shadow:5px 5px 5px var(--shadowgrey);
    }
.diplom h3 {
    background-color: var(--jaune);
}

  
    footer{
        background-color: var(--noir);
        padding-top: 2em;
        display: flex;
        flex-direction: row;
        color: var(--blanc);
        padding: 3em 15%;
    }
    
    footer li {
        font-family: var(--Montserrat);
        padding-bottom: 0.5em;
        font-size: 1em;
        width: 100vw;
        
    } 






/* Mobile First CSS */

/* Mobile + */
 

/* Phablets */
@media (min-width: 550px) { /* ... */ }

/* Tablettes */
@media (min-width: 750px) { /* ... */ }

/* Desktop */
@media (min-width: 1000px) { /* ... */ }

/* Desktop HD */
@media (min-width: 1200px) { /* ... */ }

/* Desktop Wide */
@media (min-width: 1400px) { /* ... */ }
/* je précise une règle à appliquer si on souhaite imprimer notre page */
@media print {
    .footer, .header{
        display:none;
    }
    /* je masque le header et le footer */
}
/* landscape correspond à la résolution du type PC largeur > longueur
portrait correspond à la résolution du type portable longueur > largeur */
@media screen and (orientation: portrait){
    .cv_contenu{
        justify-content: center;
    }
    .col{
        width:80%;
    }
}
